.card{
    width:auto;
    height:80px;
    transition:300ms;
    border-radius:0px 50px 0px 50px;
    box-shadow: 10px 5px 10px rgb(33, 34, 98);
}

.card:hover{
    transform:scale(1.2); /*120 %*/
}

body{
    background-color: rgb(132, 192, 234);
    background-image: url('images/logistica.png');
}