*{
    margin: 0;
}

.capa-izquierda{
    width: 30%;
    height: 200px;
    background-color:  rgba(46, 46, 80,0.5);
    margin-top:50px;
    margin-left:200px;
    /*sombra y esquinas */
    box-shadow: 5px 5px 5px rgb(25, 25, 26);
    border-radius:10px;
    position:absolute;
}

.capa-derecha{
    width: 30%;
    height: 200px;
    background-color: rgba(109, 47, 90,0.5);
    margin-top:150px;
    margin-left:500px;
    /*sombra y esquinas */
    box-shadow: 5px 5px 5px rgb(30, 30, 30);
    border-radius:10px;
    position:absolute;
}

.resaltar-capa:hover{
    z-index:10;
    transform: scale(1.5);
}

.capa-emoji{
    width: 150px;
    height: 50px;
    background-color: yellow;
    margin-top: 400px;
    margin-left:-100px;
    position: absolute;
    transition: 300ms;
    border-radius:0px 25px 25px 0px;
    text-align: right;
    font-size: 25pt;
}

.capa-emoji:hover{
    margin-left:0px;
}